<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MyWorkApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <MyWorkApplication.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="theme" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Background" serializeAs="String">
        <value />
      </setting>
      <setting name="Task_Visible_arr" serializeAs="String">
        <value />
      </setting>
      <setting name="Admin_Visible_arr" serializeAs="String">
        <value />
      </setting>
      <setting name="update_version" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="profile_picture" serializeAs="String">
        <value />
      </setting>
      <setting name="Search0_Visible_arr" serializeAs="String">
        <value />
      </setting>
      <setting name="Search1_Visible_arr" serializeAs="String">
        <value />
      </setting>
      <setting name="Search2_Visible_arr" serializeAs="String">
        <value />
      </setting>
      <setting name="Search3_Visible_arr" serializeAs="String">
        <value />
      </setting>
      <setting name="Search4_Visible_arr" serializeAs="String">
        <value />
      </setting>
      <setting name="Search5_Visible_arr" serializeAs="String">
        <value />
      </setting>
      <setting name="Search6_Visible_arr" serializeAs="String">
        <value />
      </setting>
      <setting name="selected_hope" serializeAs="String">
        <value />
      </setting>
      <setting name="Online" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="clicked_me" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Search7_Visible_arr" serializeAs="String">
        <value />
      </setting>
      <setting name="first_login" serializeAs="String">
        <value>True</value>
      </setting>
    </MyWorkApplication.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.22.0" newVersion="8.0.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.3.0" newVersion="3.12.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
